@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    /* font-family: Chakrapetch;
    src: url(/app/fonts/ChakraPetch-Regular.ttf) format('truetype'); */
  }
  body {
    @apply box-border;
    @apply font-ubuntu;
  }
  /* body {
    @apply font-chakra;
  } */
  p {
    @apply mb-3;
  }
  h1 {
    @apply xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl;
  }
  h2 {
    @apply text-3xl sm:text-2xl;
  }
  h3 {
    @apply text-2xl xs:text-xl;
  }
  .centered {
    @apply flex justify-center align-middle;
  }
  .centered-text {
    @apply flex justify-center text-center align-middle;
  }
  .container {
    @apply w-10 mx-auto;
  }
}
